<div class="container">
  <h1>Welcome to the Pirate Cove!!!</h1>

    <form action="/users/signup" method="get">
    <input type="submit" value="Are ye a pirate captain?"/>
  </form>
    <form action="/users/login" method="get">
    <input type="submit" value="What's yer password?"/>
  </form>
  <p><a href='/groups'>Find yer crew?</a></p>
</div>
