<div class='container'>
<form action="/groups/<%= group.id %>/edit" method='post' >
  <input type='hidden' name='_method' value='put' />
  <input type='text' name='group[name]' value="<%=group.name%>"/>
  <input type='submit' value='Update Group' />
</form>
  <form action="/groups/<%= group.id %>/edit" method='post'>
    <input type='hidden' name='_method' value='delete' />
    <input type='submit' value='Delete Group' />
  </form>

<p><a href="/groups/<%= group.id %>">Oops</a></p>
</div>
