.container {
  margin: 20px auto;
  width: 600px;
  padding: 20px 20px 20px 20px;
  background-color: rgba(0, 0, 0, .7);
  word-wrap: break-word;

}

.container div {
  padding-top: 5px;
  padding-bottom: 15px;
}

th {
  text-align: left;
}

img {
  height: 100px;
  width: 150px;
}



html {
  background-image: url(http://data.hdwallpapers.im/crashed_ship.jpg);
  background-size: cover;
  color: white;
  font-family: 'IM Fell English SC';
  font-size: 1.33em;
}

a {
  color: darkred;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;
}

.display {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 5px;
}

.last-resort {
  margin-left: 45%;
  margin-right: 45%;
}


.move {
  text-align: center;
}

form {
  text-align: center;
}


#myVid {
 min-width: 100%;
 min-height: auto;
}

#myVid {
 position: fixed; right: 0; bottom: 0;
 min-width: 100%; min-height: 100%;
 width: auto; height: auto; z-index: -100;
 background: url('/imgs/pirate.png') no-repeat;
 background-size: cover;
}
