<div class="container move"><h1>Me Info</h1></div>
<div class="container">
<div>Name: <%= user.name %></div>
<div>Location: <%= user.location %></div>
<div>Email: <%= user.email %></div>
<p><a href="/users/<%= user.id %>/edit">Change Me Info?</a></p>
<p><a href='/'>Back to yer ship?</a></p>
</div>



