<div class="container">
<form action='/users/login' method='post'>
  <p><input type='text' name='user[email]' placeholder='Email' /></p>
 <p><input type='password' name='user[password]' placeholder='Password' /></p>
  <p><input type='Submit' value='login'  /></p>
</form>
</div>
