<div class="container">
<form action='/users/signup' method='post'>
  <p><input type='text' name='user[name]' placeholder='name' /></p>
    <p><input type='text' name='user[location]' placeholder='location' /></p>
  <p><input type='text' name='user[email]' placeholder='email' /></p>
  <p><input type='password' name='user[password]' placeholder='password' /></p>
  <p><input type='Submit' name='login'  /></p>
</form>
</div>
